@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?1oniuf');
    src:    url('fonts/icomoon.eot?1oniuf#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1oniuf') format('truetype'),
        url('fonts/icomoon.woff?1oniuf') format('woff'),
        url('fonts/icomoon.svg?1oniuf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon"], [class*=" icon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconmobile:before {
    content: "\e000";
}
.iconlaptop:before {
    content: "\e001";
}
.icondesktop:before {
    content: "\e002";
}
.icontablet:before {
    content: "\e003";
}
.iconphone:before {
    content: "\e004";
}
.icondocument:before {
    content: "\e005";
}
.icondocuments:before {
    content: "\e006";
}
.iconsearch:before {
    content: "\e007";
}
.iconclipboard:before {
    content: "\e008";
}
.iconnewspaper:before {
    content: "\e009";
}
.iconnotebook:before {
    content: "\e00a";
}
.iconbook-open:before {
    content: "\e00b";
}
.iconbrowser:before {
    content: "\e00c";
}
.iconcalendar:before {
    content: "\e00d";
}
.iconpresentation:before {
    content: "\e00e";
}
.iconpicture:before {
    content: "\e00f";
}
.iconpictures:before {
    content: "\e010";
}
.iconvideo:before {
    content: "\e011";
}
.iconcamera:before {
    content: "\e012";
}
.iconprinter:before {
    content: "\e013";
}
.icontoolbox:before {
    content: "\e014";
}
.iconbriefcase:before {
    content: "\e015";
}
.iconwallet:before {
    content: "\e016";
}
.icongift:before {
    content: "\e017";
}
.iconbargraph:before {
    content: "\e018";
}
.icongrid:before {
    content: "\e019";
}
.iconexpand:before {
    content: "\e01a";
}
.iconfocus:before {
    content: "\e01b";
}
.iconedit:before {
    content: "\e01c";
}
.iconadjustments:before {
    content: "\e01d";
}
.iconribbon:before {
    content: "\e01e";
}
.iconhourglass:before {
    content: "\e01f";
}
.iconlock:before {
    content: "\e020";
}
.iconmegaphone:before {
    content: "\e021";
}
.iconshield:before {
    content: "\e022";
}
.icontrophy:before {
    content: "\e023";
}
.iconflag:before {
    content: "\e024";
}
.iconmap:before {
    content: "\e025";
}
.iconpuzzle:before {
    content: "\e026";
}
.iconbasket:before {
    content: "\e027";
}
.iconenvelope:before {
    content: "\e028";
}
.iconstreetsign:before {
    content: "\e029";
}
.icontelescope:before {
    content: "\e02a";
}
.icongears:before {
    content: "\e02b";
}
.iconkey:before {
    content: "\e02c";
}
.iconpaperclip:before {
    content: "\e02d";
}
.iconattachment:before {
    content: "\e02e";
}
.iconpricetags:before {
    content: "\e02f";
}
.iconlightbulb:before {
    content: "\e030";
}
.iconlayers:before {
    content: "\e031";
}
.iconpencil:before {
    content: "\e032";
}
.icontools:before {
    content: "\e033";
}
.icontools-2:before {
    content: "\e034";
}
.iconscissors:before {
    content: "\e035";
}
.iconpaintbrush:before {
    content: "\e036";
}
.iconmagnifying-glass:before {
    content: "\e037";
}
.iconcircle-compass:before {
    content: "\e038";
}
.iconlinegraph:before {
    content: "\e039";
}
.iconmic:before {
    content: "\e03a";
}
.iconstrategy:before {
    content: "\e03b";
}
.iconbeaker:before {
    content: "\e03c";
}
.iconcaution:before {
    content: "\e03d";
}
.iconrecycle:before {
    content: "\e03e";
}
.iconanchor:before {
    content: "\e03f";
}
.iconprofile-male:before {
    content: "\e040";
}
.iconprofile-female:before {
    content: "\e041";
}
.iconbike:before {
    content: "\e042";
}
.iconwine:before {
    content: "\e043";
}
.iconhotairballoon:before {
    content: "\e044";
}
.iconglobe:before {
    content: "\e045";
}
.icongenius:before {
    content: "\e046";
}
.iconmap-pin:before {
    content: "\e047";
}
.icondial:before {
    content: "\e048";
}
.iconchat:before {
    content: "\e049";
}
.iconheart:before {
    content: "\e04a";
}
.iconcloud:before {
    content: "\e04b";
}
.iconupload:before {
    content: "\e04c";
}
.icondownload:before {
    content: "\e04d";
}
.icontarget:before {
    content: "\e04e";
}
.iconhazardous:before {
    content: "\e04f";
}
.iconpiechart:before {
    content: "\e050";
}
.iconspeedometer:before {
    content: "\e051";
}
.iconglobal:before {
    content: "\e052";
}
.iconcompass:before {
    content: "\e053";
}
.iconlifesaver:before {
    content: "\e054";
}
.iconclock:before {
    content: "\e055";
}
.iconaperture:before {
    content: "\e056";
}
.iconquote:before {
    content: "\e057";
}
.iconscope:before {
    content: "\e058";
}
.iconalarmclock:before {
    content: "\e059";
}
.iconrefresh:before {
    content: "\e05a";
}
.iconhappy:before {
    content: "\e05b";
}
.iconsad:before {
    content: "\e05c";
}
.iconfacebook:before {
    content: "\e05d";
}
.icontwitter:before {
    content: "\e05e";
}
.icongoogleplus:before {
    content: "\e05f";
}
.iconrss:before {
    content: "\e060";
}
.icontumblr:before {
    content: "\e061";
}
.iconlinkedin:before {
    content: "\e062";
}
.icondribbble:before {
    content: "\e063";
}
.iconbox2:before {
    content: "\ea82";
}
.iconwrite:before {
    content: "\ea83";
}
.iconclock2:before {
    content: "\ea84";
}
.iconreply2:before {
    content: "\ea85";
}
.iconreply-all2:before {
    content: "\ea86";
}
.iconforward2:before {
    content: "\ea87";
}
.iconflag2:before {
    content: "\ea88";
}
.iconsearch2:before {
    content: "\ea89";
}
.icontrash2:before {
    content: "\ea8a";
}
.iconenvelope2:before {
    content: "\ea8b";
}
.iconbubble:before {
    content: "\ea8c";
}
.iconbubbles:before {
    content: "\ea8d";
}
.iconuser2:before {
    content: "\ea8e";
}
.iconusers2:before {
    content: "\ea8f";
}
.iconcloud2:before {
    content: "\ea90";
}
.icondownload2:before {
    content: "\ea91";
}
.iconupload2:before {
    content: "\ea92";
}
.iconrain:before {
    content: "\ea93";
}
.iconsun:before {
    content: "\ea94";
}
.iconmoon2:before {
    content: "\ea95";
}
.iconbell2:before {
    content: "\ea96";
}
.iconfolder2:before {
    content: "\ea97";
}
.iconpin2:before {
    content: "\ea98";
}
.iconsound2:before {
    content: "\ea99";
}
.iconmicrophone:before {
    content: "\ea9a";
}
.iconcamera2:before {
    content: "\ea9b";
}
.iconimage2:before {
    content: "\ea9c";
}
.iconcog2:before {
    content: "\ea9d";
}
.iconcalendar2:before {
    content: "\ea9e";
}
.iconbook2:before {
    content: "\ea9f";
}
.iconmap-marker:before {
    content: "\eaa0";
}
.iconstore:before {
    content: "\eaa1";
}
.iconsupport:before {
    content: "\eaa2";
}
.icontag2:before {
    content: "\eaa3";
}
.iconheart2:before {
    content: "\eaa4";
}
.iconvideo-camera:before {
    content: "\eaa5";
}
.icontrophy2:before {
    content: "\eaa6";
}
.iconcart:before {
    content: "\eaa7";
}
.iconeye2:before {
    content: "\eaa8";
}
.iconcancel:before {
    content: "\eaa9";
}
.iconchart:before {
    content: "\eaaa";
}
.icontarget2:before {
    content: "\eaab";
}
.iconprinter2:before {
    content: "\eaac";
}
.iconlocation2:before {
    content: "\eaad";
}
.iconbookmark2:before {
    content: "\eaae";
}
.iconmonitor:before {
    content: "\eaaf";
}
.iconcross2:before {
    content: "\eab0";
}
.iconplus2:before {
    content: "\eab1";
}
.iconleft:before {
    content: "\eab2";
}
.iconup:before {
    content: "\eab3";
}
.iconbrowser2:before {
    content: "\eab4";
}
.iconwindows:before {
    content: "\eab5";
}
.iconswitch2:before {
    content: "\eab6";
}
.icondashboard:before {
    content: "\eab7";
}
.iconplay:before {
    content: "\eab8";
}
.iconfast-forward:before {
    content: "\eab9";
}
.iconnext:before {
    content: "\eaba";
}
.iconrefresh2:before {
    content: "\eabb";
}
.iconfilm:before {
    content: "\eabc";
}
.iconhome2:before {
    content: "\eabd";
}
.iconadd-to-list:before {
    content: "\e901";
}
.iconclassic-computer:before {
    content: "\e902";
}
.iconcontroller-fast-backward:before {
    content: "\e903";
}
.iconcreative-commons-attribution:before {
    content: "\e904";
}
.iconcreative-commons-noderivs:before {
    content: "\e905";
}
.iconcreative-commons-noncommercial-eu:before {
    content: "\e906";
}
.iconcreative-commons-noncommercial-us:before {
    content: "\e907";
}
.iconcreative-commons-public-domain:before {
    content: "\e908";
}
.iconcreative-commons-remix:before {
    content: "\e909";
}
.iconcreative-commons-share:before {
    content: "\e90a";
}
.iconcreative-commons-sharealike:before {
    content: "\e90b";
}
.iconcreative-commons:before {
    content: "\e90c";
}
.icondocument-landscape:before {
    content: "\e90d";
}
.iconremove-user:before {
    content: "\e90e";
}
.iconwarning:before {
    content: "\e90f";
}
.iconarrow-bold-down:before {
    content: "\e910";
}
.iconarrow-bold-left:before {
    content: "\e911";
}
.iconarrow-bold-right:before {
    content: "\e912";
}
.iconarrow-bold-up:before {
    content: "\e913";
}
.iconarrow-down:before {
    content: "\e914";
}
.iconarrow-left:before {
    content: "\e915";
}
.iconarrow-long-down:before {
    content: "\e916";
}
.iconarrow-long-left:before {
    content: "\e917";
}
.iconarrow-long-right:before {
    content: "\e918";
}
.iconarrow-long-up:before {
    content: "\e919";
}
.iconarrow-right:before {
    content: "\e91a";
}
.iconarrow-up:before {
    content: "\e91b";
}
.iconarrow-with-circle-down:before {
    content: "\e91c";
}
.iconarrow-with-circle-left:before {
    content: "\e91d";
}
.iconarrow-with-circle-right:before {
    content: "\e91e";
}
.iconarrow-with-circle-up:before {
    content: "\e91f";
}
.iconbookmark:before {
    content: "\e920";
}
.iconbookmarks:before {
    content: "\e921";
}
.iconchevron-down:before {
    content: "\e922";
}
.iconchevron-left:before {
    content: "\e923";
}
.iconchevron-right:before {
    content: "\e924";
}
.iconchevron-small-down:before {
    content: "\e925";
}
.iconchevron-small-left:before {
    content: "\e926";
}
.iconchevron-small-right:before {
    content: "\e927";
}
.iconchevron-small-up:before {
    content: "\e928";
}
.iconchevron-thin-down:before {
    content: "\e929";
}
.iconchevron-thin-left:before {
    content: "\e92a";
}
.iconchevron-thin-right:before {
    content: "\e92b";
}
.iconchevron-thin-up:before {
    content: "\e92c";
}
.iconchevron-up:before {
    content: "\e92d";
}
.iconchevron-with-circle-down:before {
    content: "\e92e";
}
.iconchevron-with-circle-left:before {
    content: "\e92f";
}
.iconchevron-with-circle-right:before {
    content: "\e930";
}
.iconchevron-with-circle-up:before {
    content: "\e931";
}
.iconcloud3:before {
    content: "\e932";
}
.iconcontroller-fast-forward:before {
    content: "\e933";
}
.iconcontroller-jump-to-start:before {
    content: "\e934";
}
.iconcontroller-next:before {
    content: "\e935";
}
.iconcontroller-paus:before {
    content: "\e936";
}
.iconcontroller-play:before {
    content: "\e937";
}
.iconcontroller-record:before {
    content: "\e938";
}
.iconcontroller-stop:before {
    content: "\e939";
}
.iconcontroller-volume:before {
    content: "\e93a";
}
.icondot-single:before {
    content: "\e93b";
}
.icondots-three-horizontal:before {
    content: "\e93c";
}
.icondots-three-vertical:before {
    content: "\e93d";
}
.icondots-two-horizontal:before {
    content: "\e93e";
}
.icondots-two-vertical:before {
    content: "\e93f";
}
.icondownload3:before {
    content: "\e940";
}
.iconemoji-flirt:before {
    content: "\e941";
}
.iconflow-branch:before {
    content: "\e942";
}
.iconflow-cascade:before {
    content: "\e943";
}
.iconflow-line:before {
    content: "\e944";
}
.iconflow-parallel:before {
    content: "\e945";
}
.iconflow-tree:before {
    content: "\e946";
}
.iconinstall:before {
    content: "\e947";
}
.iconlayers2:before {
    content: "\e948";
}
.iconopen-book:before {
    content: "\e949";
}
.iconresize-100:before {
    content: "\e94a";
}
.iconresize-full-screen:before {
    content: "\e94b";
}
.iconsave:before {
    content: "\e94c";
}
.iconselect-arrows:before {
    content: "\e94d";
}
.iconsound-mute:before {
    content: "\e94e";
}
.iconsound:before {
    content: "\e94f";
}
.icontrash:before {
    content: "\e950";
}
.icontriangle-down:before {
    content: "\e951";
}
.icontriangle-left:before {
    content: "\e952";
}
.icontriangle-right:before {
    content: "\e953";
}
.icontriangle-up:before {
    content: "\e954";
}
.iconuninstall:before {
    content: "\e955";
}
.iconupload-to-cloud:before {
    content: "\e956";
}
.iconupload3:before {
    content: "\e957";
}
.iconadd-user:before {
    content: "\e958";
}
.iconaddress:before {
    content: "\e959";
}
.iconadjust:before {
    content: "\e95a";
}
.iconair:before {
    content: "\e95b";
}
.iconaircraft-landing:before {
    content: "\e95c";
}
.iconaircraft-take-off:before {
    content: "\e95d";
}
.iconaircraft:before {
    content: "\e95e";
}
.iconalign-bottom:before {
    content: "\e95f";
}
.iconalign-horizontal-middle:before {
    content: "\e960";
}
.iconalign-left:before {
    content: "\e961";
}
.iconalign-right:before {
    content: "\e962";
}
.iconalign-top:before {
    content: "\e963";
}
.iconalign-vertical-middle:before {
    content: "\e964";
}
.iconarchive:before {
    content: "\e965";
}
.iconarea-graph:before {
    content: "\e966";
}
.iconattachment2:before {
    content: "\e967";
}
.iconawareness-ribbon:before {
    content: "\e968";
}
.iconback-in-time:before {
    content: "\e969";
}
.iconback:before {
    content: "\e96a";
}
.iconbar-graph:before {
    content: "\e96b";
}
.iconbattery:before {
    content: "\e96c";
}
.iconbeamed-note:before {
    content: "\e96d";
}
.iconbell:before {
    content: "\e96e";
}
.iconblackboard:before {
    content: "\e96f";
}
.iconblock:before {
    content: "\e970";
}
.iconbook:before {
    content: "\e971";
}
.iconbowl:before {
    content: "\e972";
}
.iconbox:before {
    content: "\e973";
}
.iconbriefcase2:before {
    content: "\e974";
}
.iconbrowser3:before {
    content: "\e975";
}
.iconbrush:before {
    content: "\e976";
}
.iconbucket:before {
    content: "\e977";
}
.iconcake:before {
    content: "\e978";
}
.iconcalculator:before {
    content: "\e979";
}
.iconcalendar3:before {
    content: "\e97a";
}
.iconcamera3:before {
    content: "\e97b";
}
.iconccw:before {
    content: "\e97c";
}
.iconchat2:before {
    content: "\e97d";
}
.iconcheck:before {
    content: "\e97e";
}
.iconcircle-with-cross:before {
    content: "\e97f";
}
.iconcircle-with-minus:before {
    content: "\e980";
}
.iconcircle-with-plus:before {
    content: "\e981";
}
.iconcircle:before {
    content: "\e982";
}
.iconcircular-graph:before {
    content: "\e983";
}
.iconclapperboard:before {
    content: "\e984";
}
.iconclipboard2:before {
    content: "\e985";
}
.iconclock3:before {
    content: "\e986";
}
.iconcode:before {
    content: "\e987";
}
.iconcog:before {
    content: "\e988";
}
.iconcolours:before {
    content: "\e989";
}
.iconcompass2:before {
    content: "\e98a";
}
.iconcopy:before {
    content: "\e98b";
}
.iconcredit-card:before {
    content: "\e98c";
}
.iconcredit:before {
    content: "\e98d";
}
.iconcross:before {
    content: "\e98e";
}
.iconcup:before {
    content: "\e98f";
}
.iconcw:before {
    content: "\e990";
}
.iconcycle:before {
    content: "\e991";
}
.icondatabase:before {
    content: "\e992";
}
.icondial-pad:before {
    content: "\e993";
}
.icondirection:before {
    content: "\e994";
}
.icondocument2:before {
    content: "\e995";
}
.icondocuments2:before {
    content: "\e996";
}
.icondrink:before {
    content: "\e997";
}
.icondrive:before {
    content: "\e998";
}
.icondrop:before {
    content: "\e999";
}
.iconedit2:before {
    content: "\e99a";
}
.iconemail:before {
    content: "\e99b";
}
.iconemoji-happy:before {
    content: "\e99c";
}
.iconemoji-neutral:before {
    content: "\e99d";
}
.iconemoji-sad:before {
    content: "\e99e";
}
.iconerase:before {
    content: "\e99f";
}
.iconeraser:before {
    content: "\e9a0";
}
.iconexport:before {
    content: "\e9a1";
}
.iconeye:before {
    content: "\e9a2";
}
.iconfeather:before {
    content: "\e9a3";
}
.iconflag3:before {
    content: "\e9a4";
}
.iconflash:before {
    content: "\e9a5";
}
.iconflashlight:before {
    content: "\e9a6";
}
.iconflat-brush:before {
    content: "\e9a7";
}
.iconfolder-images:before {
    content: "\e9a8";
}
.iconfolder-music:before {
    content: "\e9a9";
}
.iconfolder-video:before {
    content: "\e9aa";
}
.iconfolder:before {
    content: "\e9ab";
}
.iconforward:before {
    content: "\e9ac";
}
.iconfunnel:before {
    content: "\e9ad";
}
.icongame-controller:before {
    content: "\e9ae";
}
.icongauge:before {
    content: "\e9af";
}
.iconglobe2:before {
    content: "\e9b0";
}
.icongraduation-cap:before {
    content: "\e9b1";
}
.icongrid2:before {
    content: "\e9b2";
}
.iconhair-cross:before {
    content: "\e9b3";
}
.iconhand:before {
    content: "\e9b4";
}
.iconheart-outlined:before {
    content: "\e9b5";
}
.iconheart3:before {
    content: "\e9b6";
}
.iconhelp-with-circle:before {
    content: "\e9b7";
}
.iconhelp:before {
    content: "\e9b8";
}
.iconhome:before {
    content: "\e9b9";
}
.iconhour-glass:before {
    content: "\e9ba";
}
.iconimage-inverted:before {
    content: "\e9bb";
}
.iconimage:before {
    content: "\e9bc";
}
.iconimages:before {
    content: "\e9bd";
}
.iconinbox:before {
    content: "\e9be";
}
.iconinfinity:before {
    content: "\e9bf";
}
.iconinfo-with-circle:before {
    content: "\e9c0";
}
.iconinfo:before {
    content: "\e9c1";
}
.iconkey2:before {
    content: "\e9c2";
}
.iconkeyboard:before {
    content: "\e9c3";
}
.iconlab-flask:before {
    content: "\e9c4";
}
.iconlandline:before {
    content: "\e9c5";
}
.iconlanguage:before {
    content: "\e9c6";
}
.iconlaptop2:before {
    content: "\e9c7";
}
.iconleaf:before {
    content: "\e9c8";
}
.iconlevel-down:before {
    content: "\e9c9";
}
.iconlevel-up:before {
    content: "\e9ca";
}
.iconlifebuoy:before {
    content: "\e9cb";
}
.iconlight-bulb:before {
    content: "\e9cc";
}
.iconlight-down:before {
    content: "\e9cd";
}
.iconlight-up:before {
    content: "\e9ce";
}
.iconline-graph:before {
    content: "\e9cf";
}
.iconlink:before {
    content: "\e9d0";
}
.iconlist:before {
    content: "\e9d1";
}
.iconlocation-pin:before {
    content: "\e9d2";
}
.iconlocation:before {
    content: "\e9d3";
}
.iconlock-open:before {
    content: "\e9d4";
}
.iconlock2:before {
    content: "\e9d5";
}
.iconlog-out:before {
    content: "\e9d6";
}
.iconlogin:before {
    content: "\e9d7";
}
.iconloop:before {
    content: "\e9d8";
}
.iconmagnet:before {
    content: "\e9d9";
}
.iconmagnifying-glass2:before {
    content: "\e9da";
}
.iconmail:before {
    content: "\e9db";
}
.iconman:before {
    content: "\e9dc";
}
.iconmap2:before {
    content: "\e9dd";
}
.iconmask:before {
    content: "\e9de";
}
.iconmedal:before {
    content: "\e9df";
}
.iconmegaphone2:before {
    content: "\e9e0";
}
.iconmenu:before {
    content: "\e9e1";
}
.iconmessage:before {
    content: "\e9e2";
}
.iconmic2:before {
    content: "\e9e3";
}
.iconminus:before {
    content: "\e9e4";
}
.iconmobile2:before {
    content: "\e9e5";
}
.iconmodern-mic:before {
    content: "\e9e6";
}
.iconmoon:before {
    content: "\e9e7";
}
.iconmouse:before {
    content: "\e9e8";
}
.iconmusic:before {
    content: "\e9e9";
}
.iconnetwork:before {
    content: "\e9ea";
}
.iconnew-message:before {
    content: "\e9eb";
}
.iconnew:before {
    content: "\e9ec";
}
.iconnews:before {
    content: "\e9ed";
}
.iconnote:before {
    content: "\e9ee";
}
.iconnotification:before {
    content: "\e9ef";
}
.iconold-mobile:before {
    content: "\e9f0";
}
.iconold-phone:before {
    content: "\e9f1";
}
.iconpalette:before {
    content: "\e9f2";
}
.iconpaper-plane:before {
    content: "\e9f3";
}
.iconpencil2:before {
    content: "\e9f4";
}
.iconphone2:before {
    content: "\e9f5";
}
.iconpie-chart:before {
    content: "\e9f6";
}
.iconpin:before {
    content: "\e9f7";
}
.iconplus:before {
    content: "\e9f8";
}
.iconpopup:before {
    content: "\e9f9";
}
.iconpower-plug:before {
    content: "\e9fa";
}
.iconprice-ribbon:before {
    content: "\e9fb";
}
.iconprice-tag:before {
    content: "\e9fc";
}
.iconprint:before {
    content: "\e9fd";
}
.iconprogress-empty:before {
    content: "\e9fe";
}
.iconprogress-full:before {
    content: "\e9ff";
}
.iconprogress-one:before {
    content: "\ea00";
}
.iconprogress-two:before {
    content: "\ea01";
}
.iconpublish:before {
    content: "\ea02";
}
.iconquote2:before {
    content: "\ea03";
}
.iconradio:before {
    content: "\ea04";
}
.iconreply-all:before {
    content: "\ea05";
}
.iconreply:before {
    content: "\ea06";
}
.iconretweet:before {
    content: "\ea07";
}
.iconrocket:before {
    content: "\ea08";
}
.iconround-brush:before {
    content: "\ea09";
}
.iconrss2:before {
    content: "\ea0a";
}
.iconruler:before {
    content: "\ea0b";
}
.iconscissors2:before {
    content: "\ea0c";
}
.iconshare-alternitive:before {
    content: "\ea0d";
}
.iconshare:before {
    content: "\ea0e";
}
.iconshareable:before {
    content: "\ea0f";
}
.iconshield2:before {
    content: "\ea10";
}
.iconshop:before {
    content: "\ea11";
}
.iconshopping-bag:before {
    content: "\ea12";
}
.iconshopping-basket:before {
    content: "\ea13";
}
.iconshopping-cart:before {
    content: "\ea14";
}
.iconshuffle:before {
    content: "\ea15";
}
.iconsignal:before {
    content: "\ea16";
}
.iconsound-mix:before {
    content: "\ea17";
}
.iconsports-club:before {
    content: "\ea18";
}
.iconspreadsheet:before {
    content: "\ea19";
}
.iconsquared-cross:before {
    content: "\ea1a";
}
.iconsquared-minus:before {
    content: "\ea1b";
}
.iconsquared-plus:before {
    content: "\ea1c";
}
.iconstar-outlined:before {
    content: "\ea1d";
}
.iconstar:before {
    content: "\ea1e";
}
.iconstopwatch:before {
    content: "\ea1f";
}
.iconsuitcase:before {
    content: "\ea20";
}
.iconswap:before {
    content: "\ea21";
}
.iconsweden:before {
    content: "\ea22";
}
.iconswitch:before {
    content: "\ea23";
}
.icontablet2:before {
    content: "\ea24";
}
.icontag:before {
    content: "\ea25";
}
.icontext-document-inverted:before {
    content: "\ea26";
}
.icontext-document:before {
    content: "\ea27";
}
.icontext:before {
    content: "\ea28";
}
.iconthermometer:before {
    content: "\ea29";
}
.iconthumbs-down:before {
    content: "\ea2a";
}
.iconthumbs-up:before {
    content: "\ea2b";
}
.iconthunder-cloud:before {
    content: "\ea2c";
}
.iconticket:before {
    content: "\ea2d";
}
.icontime-slot:before {
    content: "\ea2e";
}
.icontools2:before {
    content: "\ea2f";
}
.icontraffic-cone:before {
    content: "\ea30";
}
.icontree:before {
    content: "\ea31";
}
.icontrophy3:before {
    content: "\ea32";
}
.icontv:before {
    content: "\ea33";
}
.icontyping:before {
    content: "\ea34";
}
.iconunread:before {
    content: "\ea35";
}
.iconuntag:before {
    content: "\ea36";
}
.iconuser:before {
    content: "\ea37";
}
.iconusers:before {
    content: "\ea38";
}
.iconv-card:before {
    content: "\ea39";
}
.iconvideo2:before {
    content: "\ea3a";
}
.iconvinyl:before {
    content: "\ea3b";
}
.iconvoicemail:before {
    content: "\ea3c";
}
.iconwallet2:before {
    content: "\ea3d";
}
.iconwater:before {
    content: "\ea3e";
}
.icon500px-with-circle:before {
    content: "\ea3f";
}
.icon500px:before {
    content: "\ea40";
}
.iconbasecamp:before {
    content: "\ea41";
}
.iconbehance:before {
    content: "\ea42";
}
.iconcreative-cloud:before {
    content: "\ea43";
}
.icondropbox:before {
    content: "\ea44";
}
.iconevernote:before {
    content: "\ea45";
}
.iconflattr:before {
    content: "\ea46";
}
.iconfoursquare:before {
    content: "\ea47";
}
.icongoogle-drive:before {
    content: "\ea48";
}
.icongoogle-hangouts:before {
    content: "\ea49";
}
.icongrooveshark:before {
    content: "\ea4a";
}
.iconicloud:before {
    content: "\ea4b";
}
.iconmixi:before {
    content: "\ea4c";
}
.icononedrive:before {
    content: "\ea4d";
}
.iconpaypal:before {
    content: "\ea4e";
}
.iconpicasa:before {
    content: "\ea4f";
}
.iconqq:before {
    content: "\ea50";
}
.iconrdio-with-circle:before {
    content: "\ea51";
}
.iconrenren:before {
    content: "\ea52";
}
.iconscribd:before {
    content: "\ea53";
}
.iconsina-weibo:before {
    content: "\ea54";
}
.iconskype-with-circle:before {
    content: "\ea55";
}
.iconskype:before {
    content: "\ea56";
}
.iconslideshare:before {
    content: "\ea57";
}
.iconsmashing:before {
    content: "\ea58";
}
.iconsoundcloud:before {
    content: "\ea59";
}
.iconspotify-with-circle:before {
    content: "\ea5a";
}
.iconspotify:before {
    content: "\ea5b";
}
.iconswarm:before {
    content: "\ea5c";
}
.iconvine-with-circle:before {
    content: "\ea5d";
}
.iconvine:before {
    content: "\ea5e";
}
.iconvk-alternitive:before {
    content: "\ea5f";
}
.iconvk-with-circle:before {
    content: "\ea60";
}
.iconvk:before {
    content: "\ea61";
}
.iconxing-with-circle:before {
    content: "\ea62";
}
.iconxing:before {
    content: "\ea63";
}
.iconyelp:before {
    content: "\ea64";
}
.icondribbble-with-circle:before {
    content: "\ea65";
}
.icondribbble2:before {
    content: "\ea66";
}
.iconfacebook-with-circle:before {
    content: "\ea67";
}
.iconfacebook2:before {
    content: "\ea68";
}
.iconflickr-with-circle:before {
    content: "\ea69";
}
.iconflickr:before {
    content: "\ea6a";
}
.icongithub-with-circle:before {
    content: "\ea6b";
}
.icongithub:before {
    content: "\ea6c";
}
.icongoogle-with-circle:before {
    content: "\ea6d";
}
.icongoogle:before {
    content: "\ea6e";
}
.iconinstagram-with-circle:before {
    content: "\ea6f";
}
.iconinstagram:before {
    content: "\ea70";
}
.iconlastfm-with-circle:before {
    content: "\ea71";
}
.iconlastfm:before {
    content: "\ea72";
}
.iconlinkedin-with-circle:before {
    content: "\ea73";
}
.iconlinkedin2:before {
    content: "\ea74";
}
.iconpinterest-with-circle:before {
    content: "\ea75";
}
.iconpinterest:before {
    content: "\ea76";
}
.iconrdio:before {
    content: "\ea77";
}
.iconstumbleupon-with-circle:before {
    content: "\ea78";
}
.iconstumbleupon:before {
    content: "\ea79";
}
.icontumblr-with-circle:before {
    content: "\ea7a";
}
.icontumblr2:before {
    content: "\ea7b";
}
.icontwitter-with-circle:before {
    content: "\ea7c";
}
.icontwitter2:before {
    content: "\ea7d";
}
.iconvimeo-with-circle:before {
    content: "\ea7e";
}
.iconvimeo:before {
    content: "\ea7f";
}
.iconyoutube-with-circle:before {
    content: "\ea80";
}
.iconyoutube:before {
    content: "\ea81";
}
.iconhome3:before {
    content: "\eabe";
}
.iconhome22:before {
    content: "\eabf";
}
.iconhome32:before {
    content: "\eac0";
}
.iconoffice:before {
    content: "\eac1";
}
.iconnewspaper2:before {
    content: "\eac2";
}
.iconpencil3:before {
    content: "\eac3";
}
.iconpencil22:before {
    content: "\eac4";
}
.iconquill:before {
    content: "\eac5";
}
.iconpen:before {
    content: "\eac6";
}
.iconblog:before {
    content: "\eac7";
}
.iconeyedropper:before {
    content: "\eac8";
}
.icondroplet:before {
    content: "\eac9";
}
.iconpaint-format:before {
    content: "\eaca";
}
.iconimage3:before {
    content: "\eacb";
}
.iconimages2:before {
    content: "\eacc";
}
.iconcamera4:before {
    content: "\eacd";
}
.iconheadphones:before {
    content: "\eace";
}
.iconmusic2:before {
    content: "\eacf";
}
.iconplay2:before {
    content: "\ead0";
}
.iconfilm2:before {
    content: "\ead1";
}
.iconvideo-camera2:before {
    content: "\ead2";
}
.icondice:before {
    content: "\ead3";
}
.iconpacman:before {
    content: "\ead4";
}
.iconspades:before {
    content: "\ead5";
}
.iconclubs:before {
    content: "\ead6";
}
.icondiamonds:before {
    content: "\ead7";
}
.iconbullhorn:before {
    content: "\ead8";
}
.iconconnection:before {
    content: "\ead9";
}
.iconpodcast:before {
    content: "\eada";
}
.iconfeed:before {
    content: "\eadb";
}
.iconmic3:before {
    content: "\eadc";
}
.iconbook3:before {
    content: "\eadd";
}
.iconbooks:before {
    content: "\eade";
}
.iconlibrary:before {
    content: "\eadf";
}
.iconfile-text:before {
    content: "\eae0";
}
.iconprofile:before {
    content: "\eae1";
}
.iconfile-empty:before {
    content: "\eae2";
}
.iconfiles-empty:before {
    content: "\eae3";
}
.iconfile-text2:before {
    content: "\eae4";
}
.iconfile-picture:before {
    content: "\eae5";
}
.iconfile-music:before {
    content: "\eae6";
}
.iconfile-play:before {
    content: "\eae7";
}
.iconfile-video:before {
    content: "\eae8";
}
.iconfile-zip:before {
    content: "\eae9";
}
.iconcopy2:before {
    content: "\eaea";
}
.iconpaste:before {
    content: "\eaeb";
}
.iconstack:before {
    content: "\eaec";
}
.iconfolder3:before {
    content: "\eaed";
}
.iconfolder-open:before {
    content: "\eaee";
}
.iconfolder-plus:before {
    content: "\eaef";
}
.iconfolder-minus:before {
    content: "\eaf0";
}
.iconfolder-download:before {
    content: "\eaf1";
}
.iconfolder-upload:before {
    content: "\eaf2";
}
.iconprice-tag2:before {
    content: "\eaf3";
}
.iconprice-tags:before {
    content: "\eaf4";
}
.iconbarcode:before {
    content: "\eaf5";
}
.iconqrcode:before {
    content: "\eaf6";
}
.iconticket2:before {
    content: "\eaf7";
}
.iconcart2:before {
    content: "\eaf8";
}
.iconcoin-dollar:before {
    content: "\eaf9";
}
.iconcoin-euro:before {
    content: "\eafa";
}
.iconcoin-pound:before {
    content: "\eafb";
}
.iconcoin-yen:before {
    content: "\eafc";
}
.iconcredit-card2:before {
    content: "\eafd";
}
.iconcalculator2:before {
    content: "\eafe";
}
.iconlifebuoy2:before {
    content: "\eaff";
}
.iconphone3:before {
    content: "\eb00";
}
.iconphone-hang-up:before {
    content: "\eb01";
}
.iconaddress-book:before {
    content: "\eb02";
}
.iconenvelop:before {
    content: "\eb03";
}
.iconpushpin:before {
    content: "\eb04";
}
.iconlocation3:before {
    content: "\eb05";
}
.iconlocation22:before {
    content: "\eb06";
}
.iconcompass3:before {
    content: "\eb07";
}
.iconcompass22:before {
    content: "\eb08";
}
.iconmap3:before {
    content: "\eb09";
}
.iconmap22:before {
    content: "\eb0a";
}
.iconhistory:before {
    content: "\eb0b";
}
.iconclock4:before {
    content: "\eb0c";
}
.iconclock22:before {
    content: "\eb0d";
}
.iconalarm:before {
    content: "\eb0e";
}
.iconbell3:before {
    content: "\eb0f";
}
.iconstopwatch2:before {
    content: "\eb10";
}
.iconcalendar4:before {
    content: "\eb11";
}
.iconprinter3:before {
    content: "\eb12";
}
.iconkeyboard2:before {
    content: "\eb13";
}
.icondisplay:before {
    content: "\eb14";
}
.iconlaptop3:before {
    content: "\eb15";
}
.iconmobile3:before {
    content: "\eb16";
}
.iconmobile22:before {
    content: "\eb17";
}
.icontablet3:before {
    content: "\eb18";
}
.icontv2:before {
    content: "\eb19";
}
.icondrawer:before {
    content: "\eb1a";
}
.icondrawer2:before {
    content: "\eb1b";
}
.iconbox-add:before {
    content: "\eb1c";
}
.iconbox-remove:before {
    content: "\eb1d";
}
.icondownload4:before {
    content: "\eb1e";
}
.iconupload4:before {
    content: "\eb1f";
}
.iconfloppy-disk:before {
    content: "\eb20";
}
.icondrive2:before {
    content: "\eb21";
}
.icondatabase2:before {
    content: "\eb22";
}
.iconundo:before {
    content: "\eb23";
}
.iconredo:before {
    content: "\eb24";
}
.iconundo2:before {
    content: "\eb25";
}
.iconredo2:before {
    content: "\eb26";
}
.iconforward3:before {
    content: "\eb27";
}
.iconreply3:before {
    content: "\eb28";
}
.iconbubble2:before {
    content: "\eb29";
}
.iconbubbles2:before {
    content: "\eb2a";
}
.iconbubbles22:before {
    content: "\eb2b";
}
.iconbubble22:before {
    content: "\eb2c";
}
.iconbubbles3:before {
    content: "\eb2d";
}
.iconbubbles4:before {
    content: "\eb2e";
}
.iconuser3:before {
    content: "\eb2f";
}
.iconusers3:before {
    content: "\eb30";
}
.iconuser-plus:before {
    content: "\eb31";
}
.iconuser-minus:before {
    content: "\eb32";
}
.iconuser-check:before {
    content: "\eb33";
}
.iconuser-tie:before {
    content: "\eb34";
}
.iconquotes-left:before {
    content: "\eb35";
}
.iconquotes-right:before {
    content: "\eb36";
}
.iconhour-glass2:before {
    content: "\eb37";
}
.iconspinner:before {
    content: "\eb38";
}
.iconspinner2:before {
    content: "\eb39";
}
.iconspinner3:before {
    content: "\eb3a";
}
.iconspinner4:before {
    content: "\eb3b";
}
.iconspinner5:before {
    content: "\eb3c";
}
.iconspinner6:before {
    content: "\eb3d";
}
.iconspinner7:before {
    content: "\eb3e";
}
.iconspinner8:before {
    content: "\eb3f";
}
.iconspinner9:before {
    content: "\eb40";
}
.iconspinner10:before {
    content: "\eb41";
}
.iconspinner11:before {
    content: "\eb42";
}
.iconbinoculars:before {
    content: "\eb43";
}
.iconsearch3:before {
    content: "\eb44";
}
.iconzoom-in:before {
    content: "\eb45";
}
.iconzoom-out:before {
    content: "\eb46";
}
.iconenlarge:before {
    content: "\eb47";
}
.iconshrink:before {
    content: "\eb48";
}
.iconenlarge2:before {
    content: "\eb49";
}
.iconshrink2:before {
    content: "\eb4a";
}
.iconkey3:before {
    content: "\eb4b";
}
.iconkey22:before {
    content: "\eb4c";
}
.iconlock3:before {
    content: "\eb4d";
}
.iconunlocked:before {
    content: "\eb4e";
}
.iconwrench:before {
    content: "\eb4f";
}
.iconequalizer:before {
    content: "\eb50";
}
.iconequalizer2:before {
    content: "\eb51";
}
.iconcog3:before {
    content: "\eb52";
}
.iconcogs:before {
    content: "\eb53";
}
.iconhammer:before {
    content: "\eb54";
}
.iconmagic-wand:before {
    content: "\eb55";
}
.iconaid-kit:before {
    content: "\eb56";
}
.iconbug:before {
    content: "\eb57";
}
.iconpie-chart2:before {
    content: "\eb58";
}
.iconstats-dots:before {
    content: "\eb59";
}
.iconstats-bars:before {
    content: "\eb5a";
}
.iconstats-bars2:before {
    content: "\eb5b";
}
.icontrophy4:before {
    content: "\eb5c";
}
.icongift2:before {
    content: "\eb5d";
}
.iconglass:before {
    content: "\eb5e";
}
.iconglass2:before {
    content: "\eb5f";
}
.iconmug:before {
    content: "\eb60";
}
.iconspoon-knife:before {
    content: "\eb61";
}
.iconleaf2:before {
    content: "\eb62";
}
.iconrocket2:before {
    content: "\eb63";
}
.iconmeter:before {
    content: "\eb64";
}
.iconmeter2:before {
    content: "\eb65";
}
.iconhammer2:before {
    content: "\eb66";
}
.iconfire:before {
    content: "\eb67";
}
.iconlab:before {
    content: "\eb68";
}
.iconmagnet2:before {
    content: "\eb69";
}
.iconbin:before {
    content: "\eb6a";
}
.iconbin2:before {
    content: "\eb6b";
}
.iconbriefcase3:before {
    content: "\eb6c";
}
.iconairplane:before {
    content: "\eb6d";
}
.icontruck:before {
    content: "\eb6e";
}
.iconroad:before {
    content: "\eb6f";
}
.iconaccessibility:before {
    content: "\eb70";
}
.icontarget3:before {
    content: "\eb71";
}
.iconshield3:before {
    content: "\eb72";
}
.iconpower:before {
    content: "\eb73";
}
.iconswitch3:before {
    content: "\eb74";
}
.iconpower-cord:before {
    content: "\eb75";
}
.iconclipboard3:before {
    content: "\eb76";
}
.iconlist-numbered:before {
    content: "\eb77";
}
.iconlist2:before {
    content: "\eb78";
}
.iconlist22:before {
    content: "\eb79";
}
.icontree2:before {
    content: "\eb7a";
}
.iconmenu2:before {
    content: "\eb7b";
}
.iconmenu22:before {
    content: "\eb7c";
}
.iconmenu3:before {
    content: "\eb7d";
}
.iconmenu4:before {
    content: "\eb7e";
}
.iconcloud4:before {
    content: "\eb7f";
}
.iconcloud-download:before {
    content: "\eb80";
}
.iconcloud-upload:before {
    content: "\eb81";
}
.iconcloud-check:before {
    content: "\eb82";
}
.icondownload22:before {
    content: "\eb83";
}
.iconupload22:before {
    content: "\eb84";
}
.icondownload32:before {
    content: "\eb85";
}
.iconupload32:before {
    content: "\eb86";
}
.iconsphere:before {
    content: "\eb87";
}
.iconearth:before {
    content: "\eb88";
}
.iconlink2:before {
    content: "\eb89";
}
.iconflag4:before {
    content: "\eb8a";
}
.iconattachment3:before {
    content: "\eb8b";
}
.iconeye3:before {
    content: "\eb8c";
}
.iconeye-plus:before {
    content: "\eb8d";
}
.iconeye-minus:before {
    content: "\eb8e";
}
.iconeye-blocked:before {
    content: "\eb8f";
}
.iconbookmark3:before {
    content: "\eb90";
}
.iconbookmarks2:before {
    content: "\eb91";
}
.iconsun2:before {
    content: "\eb92";
}
.iconcontrast:before {
    content: "\eb93";
}
.iconbrightness-contrast:before {
    content: "\eb94";
}
.iconstar-empty:before {
    content: "\eb95";
}
.iconstar-half:before {
    content: "\eb96";
}
.iconstar-full:before {
    content: "\eb97";
}
.iconheart4:before {
    content: "\eb98";
}
.iconheart-broken:before {
    content: "\eb99";
}
.iconman2:before {
    content: "\eb9a";
}
.iconwoman:before {
    content: "\eb9b";
}
.iconman-woman:before {
    content: "\eb9c";
}
.iconhappy2:before {
    content: "\eb9d";
}
.iconhappy22:before {
    content: "\eb9e";
}
.iconsmile:before {
    content: "\eb9f";
}
.iconsmile2:before {
    content: "\eba0";
}
.icontongue:before {
    content: "\eba1";
}
.icontongue2:before {
    content: "\eba2";
}
.iconsad2:before {
    content: "\eba3";
}
.iconsad22:before {
    content: "\eba4";
}
.iconwink:before {
    content: "\eba5";
}
.iconwink2:before {
    content: "\eba6";
}
.icongrin:before {
    content: "\eba7";
}
.icongrin2:before {
    content: "\eba8";
}
.iconcool:before {
    content: "\eba9";
}
.iconcool2:before {
    content: "\ebaa";
}
.iconangry:before {
    content: "\ebab";
}
.iconangry2:before {
    content: "\ebac";
}
.iconevil:before {
    content: "\ebad";
}
.iconevil2:before {
    content: "\ebae";
}
.iconshocked:before {
    content: "\ebaf";
}
.iconshocked2:before {
    content: "\ebb0";
}
.iconbaffled:before {
    content: "\ebb1";
}
.iconbaffled2:before {
    content: "\ebb2";
}
.iconconfused:before {
    content: "\ebb3";
}
.iconconfused2:before {
    content: "\ebb4";
}
.iconneutral:before {
    content: "\ebb5";
}
.iconneutral2:before {
    content: "\ebb6";
}
.iconhipster:before {
    content: "\ebb7";
}
.iconhipster2:before {
    content: "\ebb8";
}
.iconwondering:before {
    content: "\ebb9";
}
.iconwondering2:before {
    content: "\ebba";
}
.iconsleepy:before {
    content: "\ebbb";
}
.iconsleepy2:before {
    content: "\ebbc";
}
.iconfrustrated:before {
    content: "\ebbd";
}
.iconfrustrated2:before {
    content: "\ebbe";
}
.iconcrying:before {
    content: "\ebbf";
}
.iconcrying2:before {
    content: "\ebc0";
}
.iconpoint-up:before {
    content: "\ebc1";
}
.iconpoint-right:before {
    content: "\ebc2";
}
.iconpoint-down:before {
    content: "\ebc3";
}
.iconpoint-left:before {
    content: "\ebc4";
}
.iconwarning2:before {
    content: "\ebc5";
}
.iconnotification2:before {
    content: "\ebc6";
}
.iconquestion:before {
    content: "\ebc7";
}
.iconplus3:before {
    content: "\ebc8";
}
.iconminus2:before {
    content: "\ebc9";
}
.iconinfo2:before {
    content: "\ebca";
}
.iconcancel-circle:before {
    content: "\ebcb";
}
.iconblocked:before {
    content: "\ebcc";
}
.iconcross3:before {
    content: "\ebcd";
}
.iconcheckmark:before {
    content: "\ebce";
}
.iconcheckmark2:before {
    content: "\ebcf";
}
.iconspell-check:before {
    content: "\ebd0";
}
.iconenter:before {
    content: "\ebd1";
}
.iconexit:before {
    content: "\ebd2";
}
.iconplay22:before {
    content: "\ebd3";
}
.iconpause:before {
    content: "\ebd4";
}
.iconstop:before {
    content: "\ebd5";
}
.iconprevious:before {
    content: "\ebd6";
}
.iconnext2:before {
    content: "\ebd7";
}
.iconbackward:before {
    content: "\ebd8";
}
.iconforward22:before {
    content: "\ebd9";
}
.iconplay3:before {
    content: "\ebda";
}
.iconpause2:before {
    content: "\ebdb";
}
.iconstop2:before {
    content: "\ebdc";
}
.iconbackward2:before {
    content: "\ebdd";
}
.iconforward32:before {
    content: "\ebde";
}
.iconfirst:before {
    content: "\ebdf";
}
.iconlast:before {
    content: "\ebe0";
}
.iconprevious2:before {
    content: "\ebe1";
}
.iconnext22:before {
    content: "\ebe2";
}
.iconeject:before {
    content: "\ebe3";
}
.iconvolume-high:before {
    content: "\ebe4";
}
.iconvolume-medium:before {
    content: "\ebe5";
}
.iconvolume-low:before {
    content: "\ebe6";
}
.iconvolume-mute:before {
    content: "\ebe7";
}
.iconvolume-mute2:before {
    content: "\ebe8";
}
.iconvolume-increase:before {
    content: "\ebe9";
}
.iconvolume-decrease:before {
    content: "\ebea";
}
.iconloop2:before {
    content: "\ebeb";
}
.iconloop22:before {
    content: "\ebec";
}
.iconinfinite:before {
    content: "\ebed";
}
.iconshuffle2:before {
    content: "\ebee";
}
.iconarrow-up-left:before {
    content: "\ebef";
}
.iconarrow-up2:before {
    content: "\ebf0";
}
.iconarrow-up-right:before {
    content: "\ebf1";
}
.iconarrow-right2:before {
    content: "\ebf2";
}
.iconarrow-down-right:before {
    content: "\ebf3";
}
.iconarrow-down2:before {
    content: "\ebf4";
}
.iconarrow-down-left:before {
    content: "\ebf5";
}
.iconarrow-left2:before {
    content: "\ebf6";
}
.iconarrow-up-left2:before {
    content: "\ebf7";
}
.iconarrow-up22:before {
    content: "\ebf8";
}
.iconarrow-up-right2:before {
    content: "\ebf9";
}
.iconarrow-right22:before {
    content: "\ebfa";
}
.iconarrow-down-right2:before {
    content: "\ebfb";
}
.iconarrow-down22:before {
    content: "\ebfc";
}
.iconarrow-down-left2:before {
    content: "\ebfd";
}
.iconarrow-left22:before {
    content: "\ebfe";
}
.iconcircle-up:before {
    content: "\e900";
}
.iconcircle-right:before {
    content: "\ebff";
}
.iconcircle-down:before {
    content: "\ec00";
}
.iconcircle-left:before {
    content: "\ec01";
}
.icontab:before {
    content: "\ec02";
}
.iconmove-up:before {
    content: "\ec03";
}
.iconmove-down:before {
    content: "\ec04";
}
.iconsort-alpha-asc:before {
    content: "\ec05";
}
.iconsort-alpha-desc:before {
    content: "\ec06";
}
.iconsort-numeric-asc:before {
    content: "\ec07";
}
.iconsort-numberic-desc:before {
    content: "\ec08";
}
.iconsort-amount-asc:before {
    content: "\ec09";
}
.iconsort-amount-desc:before {
    content: "\ec0a";
}
.iconcommand:before {
    content: "\ec0b";
}
.iconshift:before {
    content: "\ec0c";
}
.iconctrl:before {
    content: "\ec0d";
}
.iconopt:before {
    content: "\ec0e";
}
.iconcheckbox-checked:before {
    content: "\ec0f";
}
.iconcheckbox-unchecked:before {
    content: "\ec10";
}
.iconradio-checked:before {
    content: "\ec11";
}
.iconradio-checked2:before {
    content: "\ec12";
}
.iconradio-unchecked:before {
    content: "\ec13";
}
.iconcrop:before {
    content: "\ec14";
}
.iconmake-group:before {
    content: "\ec15";
}
.iconungroup:before {
    content: "\ec16";
}
.iconscissors3:before {
    content: "\ec17";
}
.iconfilter:before {
    content: "\ec18";
}
.iconfont:before {
    content: "\ec19";
}
.iconligature:before {
    content: "\ec1a";
}
.iconligature2:before {
    content: "\ec1b";
}
.icontext-height:before {
    content: "\ec1c";
}
.icontext-width:before {
    content: "\ec1d";
}
.iconfont-size:before {
    content: "\ec1e";
}
.iconbold:before {
    content: "\ec1f";
}
.iconunderline:before {
    content: "\ec20";
}
.iconitalic:before {
    content: "\ec21";
}
.iconstrikethrough:before {
    content: "\ec22";
}
.iconomega:before {
    content: "\ec23";
}
.iconsigma:before {
    content: "\ec24";
}
.iconpage-break:before {
    content: "\ec25";
}
.iconsuperscript:before {
    content: "\ec26";
}
.iconsubscript:before {
    content: "\ec27";
}
.iconsuperscript2:before {
    content: "\ec28";
}
.iconsubscript2:before {
    content: "\ec29";
}
.icontext-color:before {
    content: "\ec2a";
}
.iconpagebreak:before {
    content: "\ec2b";
}
.iconclear-formatting:before {
    content: "\ec2c";
}
.icontable:before {
    content: "\ec2d";
}
.icontable2:before {
    content: "\ec2e";
}
.iconinsert-template:before {
    content: "\ec2f";
}
.iconpilcrow:before {
    content: "\ec30";
}
.iconltr:before {
    content: "\ec31";
}
.iconrtl:before {
    content: "\ec32";
}
.iconsection:before {
    content: "\ec33";
}
.iconparagraph-left:before {
    content: "\ec34";
}
.iconparagraph-center:before {
    content: "\ec35";
}
.iconparagraph-right:before {
    content: "\ec36";
}
.iconparagraph-justify:before {
    content: "\ec37";
}
.iconindent-increase:before {
    content: "\ec38";
}
.iconindent-decrease:before {
    content: "\ec39";
}
.iconshare2:before {
    content: "\ec3a";
}
.iconnew-tab:before {
    content: "\ec3b";
}
.iconembed:before {
    content: "\ec3c";
}
.iconembed2:before {
    content: "\ec3d";
}
.iconterminal:before {
    content: "\ec3e";
}
.iconshare22:before {
    content: "\ec3f";
}
.iconmail2:before {
    content: "\ec40";
}
.iconmail22:before {
    content: "\ec41";
}
.iconmail3:before {
    content: "\ec42";
}
.iconmail4:before {
    content: "\ec43";
}
.iconamazon:before {
    content: "\ec44";
}
.icongoogle2:before {
    content: "\ec45";
}
.icongoogle22:before {
    content: "\ec46";
}
.icongoogle3:before {
    content: "\ec47";
}
.icongoogle-plus:before {
    content: "\ec48";
}
.icongoogle-plus2:before {
    content: "\ec49";
}
.icongoogle-plus3:before {
    content: "\ec4a";
}
.iconhangouts:before {
    content: "\ec4b";
}
.icongoogle-drive2:before {
    content: "\ec4c";
}
.iconfacebook3:before {
    content: "\ec4d";
}
.iconfacebook22:before {
    content: "\ec4e";
}
.iconinstagram2:before {
    content: "\ec4f";
}
.iconwhatsapp:before {
    content: "\ec50";
}
.iconspotify2:before {
    content: "\ec51";
}
.icontelegram:before {
    content: "\ec52";
}
.icontwitter3:before {
    content: "\ec53";
}
.iconvine2:before {
    content: "\ec54";
}
.iconvk2:before {
    content: "\ec55";
}
.iconrenren2:before {
    content: "\ec56";
}
.iconsina-weibo2:before {
    content: "\ec57";
}
.iconrss3:before {
    content: "\ec58";
}
.iconrss22:before {
    content: "\ec59";
}
.iconyoutube2:before {
    content: "\ec5a";
}
.iconyoutube22:before {
    content: "\ec5b";
}
.icontwitch:before {
    content: "\ec5c";
}
.iconvimeo2:before {
    content: "\ec5d";
}
.iconvimeo22:before {
    content: "\ec5e";
}
.iconlanyrd:before {
    content: "\ec5f";
}
.iconflickr2:before {
    content: "\ec60";
}
.iconflickr22:before {
    content: "\ec61";
}
.iconflickr3:before {
    content: "\ec62";
}
.iconflickr4:before {
    content: "\ec63";
}
.icondribbble3:before {
    content: "\ec64";
}
.iconbehance2:before {
    content: "\ec65";
}
.iconbehance22:before {
    content: "\ec66";
}
.icondeviantart:before {
    content: "\ec67";
}
.icon500px2:before {
    content: "\ec68";
}
.iconsteam:before {
    content: "\ec69";
}
.iconsteam2:before {
    content: "\ec6a";
}
.icondropbox2:before {
    content: "\ec6b";
}
.icononedrive2:before {
    content: "\ec6c";
}
.icongithub2:before {
    content: "\ec6d";
}
.iconnpm:before {
    content: "\ec6e";
}
.iconbasecamp2:before {
    content: "\ec6f";
}
.icontrello:before {
    content: "\ec70";
}
.iconwordpress:before {
    content: "\ec71";
}
.iconjoomla:before {
    content: "\ec72";
}
.iconello:before {
    content: "\ec73";
}
.iconblogger:before {
    content: "\ec74";
}
.iconblogger2:before {
    content: "\ec75";
}
.icontumblr3:before {
    content: "\ec76";
}
.icontumblr22:before {
    content: "\ec77";
}
.iconyahoo:before {
    content: "\ec78";
}
.iconyahoo2:before {
    content: "\ec79";
}
.icontux:before {
    content: "\ec7a";
}
.iconappleinc:before {
    content: "\ec7b";
}
.iconfinder:before {
    content: "\ec7c";
}
.iconandroid:before {
    content: "\ec7d";
}
.iconwindows2:before {
    content: "\ec7e";
}
.iconwindows8:before {
    content: "\ec7f";
}
.iconsoundcloud2:before {
    content: "\ec80";
}
.iconsoundcloud22:before {
    content: "\ec81";
}
.iconskype2:before {
    content: "\ec82";
}
.iconreddit:before {
    content: "\ec83";
}
.iconhackernews:before {
    content: "\ec84";
}
.iconwikipedia:before {
    content: "\ec85";
}
.iconlinkedin3:before {
    content: "\ec86";
}
.iconlinkedin22:before {
    content: "\ec87";
}
.iconlastfm2:before {
    content: "\ec88";
}
.iconlastfm22:before {
    content: "\ec89";
}
.icondelicious:before {
    content: "\ec8a";
}
.iconstumbleupon2:before {
    content: "\ec8b";
}
.iconstumbleupon22:before {
    content: "\ec8c";
}
.iconstackoverflow:before {
    content: "\ec8d";
}
.iconpinterest2:before {
    content: "\ec8e";
}
.iconpinterest22:before {
    content: "\ec8f";
}
.iconxing2:before {
    content: "\ec90";
}
.iconxing22:before {
    content: "\ec91";
}
.iconflattr2:before {
    content: "\ec92";
}
.iconfoursquare2:before {
    content: "\ec93";
}
.iconyelp2:before {
    content: "\ec94";
}
.iconpaypal2:before {
    content: "\ec95";
}
.iconchrome:before {
    content: "\ec96";
}
.iconfirefox:before {
    content: "\ec97";
}
.iconIE:before {
    content: "\ec98";
}
.iconedge:before {
    content: "\ec99";
}
.iconsafari:before {
    content: "\ec9a";
}
.iconopera:before {
    content: "\ec9b";
}
.iconfile-pdf:before {
    content: "\ec9c";
}
.iconfile-openoffice:before {
    content: "\ec9d";
}
.iconfile-word:before {
    content: "\ec9e";
}
.iconfile-excel:before {
    content: "\ec9f";
}
.iconlibreoffice:before {
    content: "\eca0";
}
.iconhtml-five:before {
    content: "\eca1";
}
.iconhtml-five2:before {
    content: "\eca2";
}
.iconcss3:before {
    content: "\eca3";
}
.icongit:before {
    content: "\eca4";
}
.iconcodepen:before {
    content: "\eca5";
}
.iconsvg:before {
    content: "\eca6";
}
.iconIcoMoon:before {
    content: "\eca7";
}

